{% extends "layout.html.twig" %}

{% block title query ? query : 'recherche' %}

{% block content %}
    <div class="wrapper">
        <div class="page-header page-header-xs" style="background-image: url('{{asset('img/musician-664432.jpg')}}')">
            <div class="filter">
            </div>
        </div>

        <div class="container">
            <form action="{{ path('search') }}" method="get">
                <div class="form-group my-3">
                    <div class="row">
                        <div class="col-sm-9 offset-sm-1">
                            <input type="text" name="q" class="form-control" value="{% if query %}{{ query }}{% endif %}">
                        </div>
                        <div class="col-sm-1">
                            <button type="submit" class="btn btn-light">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <h2 class="pb-3">Albums :</h2>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    {% if  resultAlbums and resultAlbums.albums.items is not empty %}
                        <div class="row">
                        {% for album in resultAlbums.albums.items %}
                            <div class="col-sm-3">
                                <a href="{{ path('showAlbum', {'id_album' : album.id}) }}" class="link-music">
                                    <img src="{{ album.images[1].url }}" alt="" class="img-fluid">
                                    <p class="text-center"><strong>{{ album.name }}</strong></p>
                                    {% for artist in album.artists %}
                                        <a href="{{ path('showArtist', {'id_artist' : artist.id}) }}" class="link-music">
                                            {% if loop.last %}
                                                <p class="text-center">{{ artist.name }}</p>
                                            {% else %}
                                                <p class="text-center">{{ artist.name }},</p>
                                            {% endif %}
                                        </a>
                                    {% endfor %}

                                </a>
                            </div>
                            {% if loop.index is divisible by(4) %}
                                </div><div class="row">
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% else %}
                        <p>Pas de résultat</p>
                    {% endif %}
                </div>
            </div>
            <h2 class="pb-3">Titres :</h2>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    {% if resultTracks and resultTracks.tracks.items is not empty %}
                        <div class="row">
                        {% for track in resultTracks.tracks.items %}
                            <div class="col-sm-3">
                                <a href="{{ path('showAlbum', {'id_album' : track.album.id}) }}" class="link-music">
                                    <img src="{{ track.album.images[0].url }}" alt="" class="img-fluid">
                                    <p class="text-center"><strong>{{ track.name }}</strong></p>
                                    {% for artist in track.artists %}
                                        <a href="{{ path('showArtist', {'id_artist' : artist.id}) }}" class="link-music">
                                            {% if loop.last %}
                                                <p class="text-center">{{ artist.name }}</p>
                                            {% else %}
                                                <p class="text-center">{{ artist.name }},</p>
                                            {% endif %}
                                        </a>
                                    {% endfor %}

                                </a>
                            </div>
                            {% if loop.index is divisible by(4) %}
                                </div><div class="row">
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% else %}
                        <p>Pas de résultat</p>
                    {% endif %}
                </div>
            </div>
            <h2 class="pb-3">Artistes :</h2>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    {% if resultArtists and resultArtists.artists.items is not empty %}
                        <div class="row">
                        {% for artist in resultArtists.artists.items %}
                            <div class="col-sm-3">
                                <a href="{{ path('showArtist', {'id_artist' : artist.id}) }}" class="link-music">
                                    <img src="{% if artist.images %}{{ artist.images[0].url }}{% else %}{{ get_gravatar('', 210) }}{% endif %}" alt="" class="img-fluid rounded-circle">
                                    <p class="text-center"><strong>{{ artist.name }}</strong></p>
                                </a>
                            </div>
                            {% if loop.index is divisible by(4) %}
                                </div><div class="row">
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% else %}
                        <p>Pas de résultat</p>
                    {% endif %}
                </div>
            </div>
            <h2 class="pb-3">Profils :</h2>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    {% if resultUsers%}
                        <div class="row">
                        {% for profil in resultUsers %}
                            <div class="col-sm-3">
                                <div class="card" >
                                    <img height="210" class="card-img-top" src="{% if profil.picture %}{{ asset('photo/') }}{{ profil.picture }}{% else %}{{ get_gravatar(profil.email, 210, 'retro') }}{% endif %}" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ profil.username }}</h4>
                                        <a href="{{ path('display', {'username' : profil.username}) }}" class="btn btn-primary btn-block mb-1">voir profil</a>
                                        <button class="addToFriends btn btn-info btn-block" data-id="{{ profil.id }}"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                            {% if loop.index is divisible by(4) %}
                                </div><div class="row">
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% else %}
                        <p>Pas de résultat</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}