{% extends "layout.html.twig" %}

{% block title 'Amis' %}

{% block content %}
<div class="wrapper">
        <div class="page-header page-header-xs img-responsive" data-parallax="true" style="background-image: url('{{asset('img/music-connexion.jpg')}}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
            <div class="filter">
        </div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="name">
                    <img src="{% if user.picture %}
                            {{ asset('photo/') }}{{ user.picture }}
                            {% else %}
                            {{ get_gravatar(user.email, 80, 'retro') }}
                            {% endif %}"
                         class='rounded-circle profil' width='150' height='150'>
                    <h4 class="title">{{ user.username}}<br /></h4>
                </div>
                <div class="container flex mb-3">
                    <div class="flexItem">
                        <h2>Mes Amis</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                {% if usersFriends %}
                    {% for friend in usersFriends %}
                    <div class="col-sm-3" >
                        <div class="card">
                            <img class="card-img-top " src="{% if friend.picture %}{{ asset('photo/') }}{{ friend.picture }}{% else %}{{ get_gravatar(friend.email, 210, 'retro') }}{% endif %}" alt="Card image cap" style='height: 210px;'>
                            <div class="card-body ">
                                <h4 class="card-title">{{ friend.username }}</h4>
                                <a href="{{ path('display', {'username' : friend.username}) }}" class="btn btn-primary btn-block mb-1">voir profil</a>
                                <button class="removeToFriends btn btn-danger btn-block" data-id="{{ friend.id }}"><i class="fa fa-remove" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    {% if loop.index is divisible by(4) %}
                        </div><div class="row">
                    {% endif %}
                    {% endfor %}
                {% endif %}
                {% if usersFriends2 %}
                    {% for friend in usersFriends2 %}
                    <div class="col-sm-3" >
                        <div class="card">
                            <img class="card-img-top " src="{% if friend.picture %}{{ asset('photo/') }}{{ friend.picture }}{% else %}{{ get_gravatar(friend.email, 210, 'retro') }}{% endif %}" alt="Card image cap" style='height: 210px;'>
                            <div class="card-body ">
                                <h4 class="card-title">{{ friend.username }}</h4>
                                <a href="{{ path('display', {'username' : friend.username}) }}" class="btn btn-primary btn-block mb-1">voir profil</a>
                                <button class="removeToFriends2 btn btn-danger btn-block" data-id="{{ friend.id }}"><i class="fa fa-remove" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    {% if loop.index is divisible by(4) %}
                        </div><div class="row">
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}