{% extends "layout.html.twig" %}

{% block content %}
    <div class="wrapper">
        <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('{{ asset('img/fabio-mangione.jpg') }}')">
            <div class="filter">
            </div>
        </div>
        <div class="section profile-content">
            <div class="container">
                <div class="owner">
                    <div class="name">
                        <h4 class="title">Jane Faker<br /></h4>
						<h6 class="description">Music Producer</h6>
                    </div>
                    <div class="container flex">
                        <div class="flexItem">
                            <h2>News</h2>
                        </div>
                        <div class="flexItem">
                            <h2>Events</h2>
                        </div>
                        <div class="flexItem">
                            <h2>Blah</h2>
                        </div>
                    </div>
                </div>
            
               
                <br/>
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#follows" role="tab">Follows</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#following" role="tab">Following</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Tab panes -->
                <div class="tab-content following">
                    <div class="tab-pane active" id="follows" role="tabpanel">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <ul class="list-unstyled follows">
                                    {% if recommendations %}
                                        {% for track in recommendations.tracks %}
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 offset-md-0">
                                                        <img src="{{ track.album.images[0].url }}" alt="Circle Image" class=" img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-xs-4">
                                                        <h6>{{ track.name }}<br/>
                                                            <small>
                                                                Artiste : 
                                                                {% for artist in track.artists %}
                                                                    {% if loop.last %}
                                                                        {{ artist.name }}
                                                                    {% else %}
                                                                        {{ artist.name }},
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </small>
                                                        </h6>
                                                    </div>
                                                    <div class="col-md-1 col-xs-2 offset-1">
                                                        <div class="py-3" >
                                                            <a href="{{ track.external_urls.spotify }}"><i class="fa fa-spotify fa-2x text-success" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane text-center" id="following" role="tabpanel">
                        <h3 class="text-muted">Not following anyone yet :(</h3>
                        <button class="btn btn-warning btn-round">Find artists</button>
                    </div>
                </div>
            </div>
        </div>
                                                 
    </div>
{% endblock %}
