{% extends "layout.html.twig" %}

{% block title 'Bibliotheque' %}

{% block content %}
    <div class="wrapper">
        <div class="page-header page-header-xs img-responsive" data-parallax="true" style="background-image: url('{{ asset("img/elvis-presley-1482026_1280.jpg") }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
            <div class="filter">
            </div>
        </div>
        <div class="section profile-content">
            <div class="container">
                <div class="owner">
                    <div class="name">
                        <img src="{% if user.picture %}
                            {{ asset('photo/') }}{{ user.picture }}
                            {% else %}
                            {{ get_gravatar(user.email, 80, 'retro') }}
                            {% endif %}" class='rounded-circle profil' width='150' height='150'>
                        <h4 class="title">{{ user.username}}<br /></h4>
                    </div>
                    <div class="container flex">
                        <div class="flexItem">
                            <h2>Bibliothèque</h2>
                        </div>
                    </div>
                </div>

                <div class="tab-content following mt-3">
                    <div class="tab-pane active" id="follows" role="tabpanel">
                        <div class="row">
                            <div class="col-md-10 offset-md-1">
                                <ul class="list-unstyled follows">
                                    {% if tracksUser %}
                                        {% for track in tracksUser.tracks %}
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-1 offset-md-0 image text-center">
                                                        <a href="{{ path('showAlbum', {'id_album' : track.album.id}) }}">
                                                            <img src="{{ track.album.images[0].url }}" alt="Circle Image" class=" img-responsive">
                                                        </a>
                                                    </div>
                                                    <div class="col-md-1 mt-3 col-xs-2 text-center playbutton">
                                                        <button class="play"><i class="fa fa-play-circle fa-2x" aria-hidden="true"></i></button>
                                                        <audio >
                                                            <source src="{{ track.preview_url }}" type="audio/mp3">
                                                            Your browser does not support the audio element.
                                                        </audio>
                                                    </div>
                                                    <div class="col-md-7 col-xs-4 track">
                                                        <h6><a href="{{ path('showAlbum', {'id_album' : track.album.id}) }}" class="link-music">{{ track.name }}</a><br/>
                                                            <small>
                                                                Artiste :
                                                                {% for artist in track.artists %}
                                                                    <a href="{{ path('showArtist', {'id_artist' : artist.id}) }}" class="link-music">
                                                                        {% if loop.last %}
                                                                            {{ artist.name }}
                                                                        {% else %}
                                                                            {{ artist.name }},
                                                                        {% endif %}
                                                                    </a>
                                                                {% endfor %}
                                                            </small><br/>
                                                            <small>
                                                                Album : <a href="{{ path('showAlbum', {'id_album' : track.album.id}) }}" class="link-music">{{ track.album.name }}</a>
                                                            </small><br/>
                                                        </h6>
                                                    </div>
                                                    <div class="col-md-1 col-xs-2 offset-sm-1 lien_spotify">
                                                        <div class="py-3" >
                                                            <a href="{{ track.external_urls.spotify }}" target="blank"><i class="fa fa-spotify fa-2x text-success" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 col-xs-2 library ">
                                                        <div class="mt-3" >
                                                            <button class="removeToLibrary" data-id="{{ track.id }}"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                        {% endfor %}
                                    {% else %}
                                        <li>
                                            <p><strong>Votre bibliothèque est vide</strong></p>
                                            <h3 class="text-muted">Aucun morceau ajouté à votre bibliothèque pour le moment :(</h3>
                                            <a href="{{ path('dashboardDisplay', { username : user_manager.user.username }) }}"><button class="btn btn-success btn-round">Pour en trouver, c'est par ici !</button></a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}