{% extends "layout_user.html.twig" %}

{% block title 'profile' %}

{% block content %}
    <div class="container container-top">
        <div class="starter-template">
            <h1><span class = 'glyphicon glyphicon-user' style = 'color: green'></span> Profil</h1>
        </div>
        
        <div class="row">
            <ul class="col-sm-7">
                <li class="list-group-item active">Vos informations</li>
                <li class="list-group-item">Pseudo : {{ profile.username }}</li>
                <li class="list-group-item">Email : {{ profile.email }}</li>
                <li class="list-group-item">Date d'enregistrement : {{ profile.registerDate }}</li>
                <li class="list-group-item">Vos styles musicaux : </li>
            </ul>
            <div class="col-sm-5">
                <img src="{{ profile.picture }}" alt="Photo de profil" style="width: 100%;">
            </div>
        </div>
        <a href="{{ path('edit', {username: profile.username}) }}">Modifier votre profil</a>

    </div><!-- /.container -->
{% endblock %}
