{% extends "layout.html.twig" %}

{% block title 'profile' %}

{% block content %}
        
    <div>
        <img src="{{ asset('img/vinyl-1437600_1920.jpg') }}" class="profile_page_photo" alt="vynils">
    </div>
        
    <div class="container container-top">
        <div class="starter-template">
            <h1 id="profil"><span class = 'glyphicon glyphicon-user' style = 'color: green'></span> Profil</h1>
        </div><br>
        <div class="row">
            <ul class="col-sm-6">
                <li class="list-group-item active">Vos informations</li>
                <li class="list-group-item">Pseudo : {{ profile.username }}</li>
                <li class="list-group-item">Email : {{ profile.email }}</li>
                <li class="list-group-item">Date d'enregistrement : {{ profile.registerDate|date("d/m/Y")}}</li>
                <li class="list-group-item">Vos styles musicaux : {{ profile.tags|join(', ')|upper }}</li>
            </ul>
            <div class="col-sm-5 offset-1">
                <img src="{% if profile.picture %}
                            {{ asset('photo/') }}{{ profile.picture }}
                            {% else %}
                            {{ get_gravatar(profile.email, 80, 'retro') }}
                            {% endif %}" alt="Photo de profil" style="height: 250px;">
            </div>
            {% if user_manager.user.username == global.request.get('username') %}
                <a href="{{ path('edit', {username: profile.username}) }}">Modifier votre profil</a>
            {% endif %}
        </div>

    </div><!-- /.container -->
{% endblock %}
